.bg-img{
  background-image: url(https://wallpapercave.com/wp/wp1917126.jpg);
  height: 940px;
  width: 512px;
}

.triangle {
  width: 0;
  height: 0;
  border-top: 10px solid red;
  border-left: transparent;
  border-right: transparent;
  border-bottom: transparent;
  background-color: white;
}